<h1>Listing tasks</h1>

<%= form_tag complete_tasks_path, :method => :put do %>
    <ul>
      <% for task in @tasks %>
          <li>
            <%= check_box_tag "task_ids[]", task.id %>
            <%= task.name %>
          </li>
      <% end %>
    </ul>
    <%= submit_tag "Mark as Complete" %>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Completed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.completed_at %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
