<%= form_for(@post.with_blank_comment) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

    <%= f.fields_for(:comments) do |comments_form| %>
        <div class="field">
        <%=  comments_form.label 'Comment:' %>
        <%=  comments_form.text_field :content %>
        <%=  unless comments_form.object.new_record?
               comments_form.check_box('_destroy') + comments_form.label('_destroy','Remove')
             end %>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
